In [32]:
from google.colab import drive
drive.mount("/content/drive")
%cd "/content/drive/My Drive/Colab Notebooks/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [34]:
dataset = pd.read_csv('loan_defaulter_dataset.csv')
dataset.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id  member_id  loan_amnt  ...  delinq_amnt  pub_rec_bankruptcies tax_liens
0  1077501  1296599.0     5000.0  ...          0.0                   0.0       0.0
1  1077430  1314167.0     2500.0  ...          0.0                   0.0       0.0
2  1077175  1313524.0     2400.0  ...          0.0                   0.0       0.0
3  1076863  1277178.0    10000.0  ...          0.0                   0.0       0.0
4  1075358  1311748.0     3000.0  ...          0.0                   0.0       0.0

[5 rows x 52 columns]

In [0]:
# profile=pandas_profiling.ProfileReport(dataset)

/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [0]:
#Replacing a the word 'months' by nothing in the 'term' coloumb
dataset['term'] = dataset['term'].str.replace('months','')
#Replacing a the word '%' by nothing in the 'int_rate' coloumb
dataset['int_rate'] = dataset['int_rate'].str.replace('%','')

In [36]:
#Dropping coloumn 'id' and 'member_id' because it doesnt make sense
dataset=dataset.drop(columns=['id', 'member_id'])
dataset

       loan_amnt  funded_amnt  ...  pub_rec_bankruptcies tax_liens
0         5000.0       5000.0  ...                   0.0       0.0
1         2500.0       2500.0  ...                   0.0       0.0
2         2400.0       2400.0  ...                   0.0       0.0
3        10000.0      10000.0  ...                   0.0       0.0
4         3000.0       3000.0  ...                   0.0       0.0
...          ...          ...  ...                   ...       ...
42531     3500.0       3500.0  ...                   NaN       NaN
42532     1000.0       1000.0  ...                   NaN       NaN
42533     2525.0       2525.0  ...                   NaN       NaN
42534     6500.0       6500.0  ...                   NaN       NaN
42535     5000.0       5000.0  ...                   NaN       NaN

[42536 rows x 50 columns]

In [0]:
# count=0
# for i in range (42536):
#   if dataset['loan_amnt'][i] != dataset['funded_amnt'][i]:
#     print("Total score for %s is %s" % ( str(dataset['loan_amnt'][i]), str(dataset['funded_amnt'][i]) ))

# print(count)

# **DROPPING HIGH PERCENTAGE OF NULL or  N/A or ZEROS**

In [0]:
coloumn_names=dataset.columns.values.tolist()

In [38]:
threshold_for_null_and_NA= 10

for col in coloumn_names:
  percentage_missing= (  (  dataset[col].isnull().sum() +   dataset[col].isna().sum() + dataset[col].isin([0]).sum()  )  / 42536 ) *100

  if percentage_missing > threshold_for_null_and_NA:
    print (col)

emp_title
delinq_2yrs
inq_last_6mths
pub_rec
out_prncp
out_prncp_inv
total_rec_late_fee
recoveries
collection_recovery_fee
collections_12_mths_ex_med
acc_now_delinq
chargeoff_within_12_mths
delinq_amnt
pub_rec_bankruptcies
tax_liens

In [0]:
dataset=dataset.drop(columns=['emp_title','delinq_2yrs','pub_rec','out_prncp','out_prncp_inv','total_rec_late_fee','recoveries','collection_recovery_fee','collections_12_mths_ex_med','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','pub_rec_bankruptcies','tax_liens'])

In [0]:

for col in coloumn_names:
  number_of_NA_missing=dataset[col].isnull().sum()

  if number_of_NA_missing>0 and number_of_NA_missing <31:
    for i in range(number_of_NA_missing):
      Null_dropped_dataset=dataset.dropna(axis='rows')

In [68]:
Null_dropped_dataset

       loan_amnt  funded_amnt  ...  policy_code application_type
0         5000.0       5000.0  ...          1.0       INDIVIDUAL
1         2500.0       2500.0  ...          1.0       INDIVIDUAL
2         2400.0       2400.0  ...          1.0       INDIVIDUAL
3        10000.0      10000.0  ...          1.0       INDIVIDUAL
4         3000.0       3000.0  ...          1.0       INDIVIDUAL
...          ...          ...  ...          ...              ...
42508     6000.0       6000.0  ...          1.0       INDIVIDUAL
42511    10000.0      10000.0  ...          1.0       INDIVIDUAL
42512     2000.0       2000.0  ...          1.0       INDIVIDUAL
42513     6000.0       6000.0  ...          1.0       INDIVIDUAL
42514     4400.0       4400.0  ...          1.0       INDIVIDUAL

[41247 rows x 36 columns]

In [66]:
#Null_dropped_dataset=dataset.dropna(thresh=30,axis='rows')
Null_dropped_dataset.isnull().sum()

loan_amnt              0
funded_amnt            0
funded_amnt_inv        0
term                   0
int_rate               0
installment            0
grade                  0
sub_grade              0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
issue_d                0
loan_status            0
pymnt_plan             0
purpose                0
title                  0
zip_code               0
addr_state             0
dti                    0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
revol_bal              0
revol_util             0
total_acc              0
initial_list_status    0
total_pymnt            0
total_pymnt_inv        0
total_rec_prncp        0
total_rec_int          0
last_pymnt_d           0
last_pymnt_amnt        0
last_credit_pull_d     0
policy_code            0
application_type       0
dtype: int64

# **Handled Missing Values**

In [0]:
plt.figure()
plt.suptitle("Seaborn heatmap example to display 2d percentage values", color='m')
sns.set(font_scale=0.8)

ax = sns.heatmap(dataset, linewidths=.5,  fmt="", annot_kws={"size": 12}, vmin=0, vmax=100)
ax.set(xlabel='x label', ylabel='y label')

plt.show()